<header class="opener">
  <div class="wrapper">
    <div class="left">
        <img src="./../../assets/medaid-products.png" alt="medaid products logo">
    </div>

    <div class="middle"></div>

    <div class="right">
        <a href="http://medaidrx.com/"
          mz-tooltip
          [tooltip]="'Visit our Website'"
          [position]="'right'"
          [html]="true"
          [delay]="50">
          <img src="./../../assets/medaid-logo.svg" alt="medaid phamracy logo">
        </a>
    </div>

  </div>
</header>
